* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
   background-color: transparent;
   width: 5px;
   height: 0;
}

::-webkit-scrollbar-thumb {
   background-color: #2563eb;
   border-radius: 10px;
}

table thead tr th {
   text-wrap: nowrap;
}
